.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
}

.dialogsItems {
  padding: 10px;
  color: white;
}

.dialogsItems .active {
  color: gold;
}

.dialog {
}

.messages {
  padding: 10px;
}

.messages .message {
  color: white;
}

.newMessage {
  background-color: #c09191;
}

.textareaNewMessage {
  width: 150px;
}

.buttonNewMessage {
  width: 100px;
}
